<div class="header bg-default pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Movimiento del Mes</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a [routerLink]="['/Administrador/Inicio']">
                  <i class="fas fa-home"> </i>
                </a>
              </li>

              <li class="breadcrumb-item">
                <a> Operaciones Diarias </a>
              </li>
              <li class="breadcrumb-item">
                <a
                  [routerLink]="[
                    '/Administrador/OperacionesDiarias/MovimientoDiario'
                  ]"
                >
                  Origen Contable
                </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                {{ Titulo }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">{{ Titulo }}</h3>
          <app-menu-informacion></app-menu-informacion>
        </div>
        <div class="dataTables_wrapper py-4">
          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            [columns]="columns"
            (activate)="onActivate($event)"
            [messages]="{
              emptyMessage: 'No se encontraron registros',
              totalMessage: 'Registros Totales'
            }"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Código</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.CodigoOperacion }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Descripción</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.DescripcionOperacion }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  class="btn btn-link btn-just-icon like"
                  title="Ver Asiento"
                  (click)="AbrirAsiento(row.Id_OperacionPrincipal)"
                  ><i class="ni ni-folder-17 text-green"></i
                ></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <hr />
          <div class="container">
            <div class="d-flex justify-content-between">
              <button
                mat-raised-button
                class="btn btn-primary"
                [routerLink]="[
                  '/Administrador/OperacionesDiarias/MovimientoDiario/',
                  this.TipoOrigen,
                  'Nuevo'
                ]"
              >
                Nuevo Asiento
              </button>
              <button
                mat-raised-button
                class="btn btn-primary"
                [routerLink]="[
                  '/Administrador/OperacionesDiarias/MovimientoDiario'
                ]"
              >
                Regresar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
