<div class="header bg-default pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Rendición de Gasto</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a [routerLink]="['/Administrador/Inicio']">
                  <i class="fas fa-home"> </i>
                </a>
              </li>

              <li class="breadcrumb-item">
                <a> Operaciones Diarias </a>
              </li>
              <li class="breadcrumb-item">
                <a
                  [routerLink]="[
                    '/Administrador/OperacionesDiarias/SolicitudesMes'
                  ]"
                >
                  Solicitudes del Mes
                </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                Rendición de Gasto
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header">
      <app-menu-estatico></app-menu-estatico>
      <div class="d-flex justify-content-start col-md-12">
        <p>Serie N°</p>
        <p class="text-danger">{{ Serie }}</p>
        &nbsp;&nbsp;&nbsp;
        <P>Documento </P>
        &nbsp;
        <P class="text-danger">{{ NumeroTexto }}</P>
      </div>
    </div>

    <div class="card-body">
      <form
        [formGroup]="formaOperacion"
        novalidate="novalidate"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="row">
          <div class="col-md-3" *ngIf="Id_SR === 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols2Input">
                Origen
              </label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                formControlName="TipoOrigen"
                (change)="ActualizarInfoCuenta($event.target.value)"
              >
                <option
                  *ngFor="let origen of origenes"
                  [value]="origen.Codigo_Origen"
                >
                  {{ origen.Codigo_Origen + ' | ' + origen.Descripcion }}
                </option>
              </select>
            </div>
          </div>

          <!-- Origen Bloqueado -->
          <div class="col-md-3" *ngIf="Id_SR > 0">
            <div class="form-group">
              <label class="form-control-label"> Origen </label>

              <input
                class="form-control"
                placeholder="Cheque"
                type="text"
                formControlName="TipoOrigen"
                autocomplete="off"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="col-md-9" *ngIf="Id_SR === 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols3Input">
                Cuenta
              </label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cuenta"
                  aria-label="Cuenta"
                  aria-describedby="button-addon2"
                  formControlName="Nombre_PlanCuenta"
                  autocomplete="off"
                  [readonly]="true"
                />
                <button
                  class="btn btn-default"
                  type="button"
                  id="button-addon2"
                  (click)="BuscarPlanContable(modalBuscarPlanContable)"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-search"></i
                  ></span>
                </button>
              </div>
            </div>
          </div>

          <!-- Cuenta Bloqueada -->

          <div class="col-md-9" *ngIf="Id_SR > 0">
            <div class="form-group">
              <label class="form-control-label"> Cuenta</label>

              <input
                class="form-control"
                placeholder="Cuenta"
                type="text"
                formControlName="Nombre_PlanCuenta"
                autocomplete="off"
                [readonly]="true"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form
        [formGroup]="formaSR"
        novalidate="novalidate"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="col-lg-12">
          <div class="card-wrapper">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label
                        class="form-control-label"
                        for="example3cols2Input"
                      >
                        Fecha
                      </label>

                      <input
                        class="form-control"
                        id="example3cols2Input"
                        placeholder="Fecha"
                        type="text"
                        [value]="FechaSolicitud | date: 'dd/LL/yyyy':'UTC'"
                        formControlName="FechaSolicitud"
                        autocomplete="off"
                        [readonly]="true"
                      />
                    </div>
                  </div>

                  <div class="col-md-7">
                    <div class="form-group">
                      <label
                        class="form-control-label"
                        for="example3cols2Input"
                      >
                        Girado a la Orden
                      </label>

                      <input
                        class="form-control"
                        id="example3cols2Input"
                        placeholder="Girado a la Orden"
                        type="text"
                        formControlName="Responsable"
                        autocomplete="off"
                        [readonly]="true"
                      />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label
                        class="form-control-label"
                        for="example3cols2Input"
                      >
                        Entidad Cooperante
                      </label>

                      <input
                        class="form-control"
                        id="example3cols2Input"
                        placeholder="Entidad Cooperante"
                        type="text"
                        formControlName="EntidadCooperante"
                        autocomplete="off"
                        [readonly]="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label
                        class="form-control-label"
                        for="example3cols2Input"
                      >
                        Actividad
                      </label>

                      <input
                        class="form-control"
                        id="example3cols2Input"
                        placeholder=" Actividad"
                        type="text"
                        formControlName="Descripcion"
                        autocomplete="off"
                        [readonly]="true"
                      />
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label
                        class="form-control-label"
                        for="example3cols2Input"
                      >
                        Tipo de Cambio
                      </label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"
                            >S/
                          </span>
                        </div>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Tipo de Cambio"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                          autocomplete="off"
                          [value]="formaOperacion.controls['TC'].value"
                          [readonly]="true"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="form-control-label" for="example3cols2Input"
                        >&nbsp;
                      </label>
                      <div class="">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-outline-primary"
                          [routerLink]="[
                            '/Administrador/OperacionesDiarias/SolicitudesMes'
                          ]"
                        >
                          Regresar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="card-wraper">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="d-flex justify-content-between">
                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-sm btn-outline-info"
                      *ngIf="SumaTotalPresupuesto() - SumaTotalGasto() !== 0"
                      (click)="
                        AbrirModalSaldo(modalFormSaldo); AbrirRegistroSaldo()
                      "
                    >
                      {{
                        formaOperacionSaldo.controls['Id_Operacion'].value === 0
                          ? 'Registrar Saldo'
                          : 'Modificar Saldo'
                      }}
                    </button>

                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      *ngIf="
                        formaOperacionSaldo.controls['Id_Operacion'].value !== 0
                      "
                      (click)="EliminarOperacionTipoSR3()"
                    >
                      Eliminar Saldo
                    </button>
                  </div>

                  <div class="table-responsive">
                    <br />
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th class="sort" data-sort="name" scope="col">
                            Cod. Presupuestal
                          </th>

                          <th class="sort" data-sort="budget" scope="col">
                            Descripcion de Gastos
                          </th>

                          <th class="sort" data-sort="status" scope="col">
                            Presupuesto
                          </th>

                          <th class="sort" data-sort="status" scope="col">
                            Gasto
                          </th>

                          <th class="sort" data-sort="completion" scope="col">
                            Acciones
                          </th>
                        </tr>
                      </thead>

                      <tbody class="list">
                        <tr mdbTableCol *ngFor="let dato of Datos">
                          <th>{{ dato.Codigo_PlanProyecto }}</th>
                          <td>{{ dato.Actividad }}</td>
                          <td>
                            {{ dato.Presupuesto | number: '1.2-2' }}
                          </td>
                          <td>
                            {{ dato.Gasto | number: '1.2-2' }}
                          </td>

                          <td>
                            <a
                              class="btn btn-link btn-just-icon like text-success"
                              title="Registrar Gastos"
                              style="cursor: pointer"
                              (click)="AbrirRegistroGasto(dato.Id_DetalleSR)"
                              ><i class="fa-solid fa-check-to-slot"></i
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td></td>
                          <td style="font-weight: bold">TOTAL</td>
                          <td style="font-weight: bold">
                            {{ SumaTotalPresupuesto() | number: '1.2-2' }}
                          </td>
                          <td style="font-weight: bold">
                            {{ SumaTotalGasto() | number: '1.2-2' }}
                          </td>

                          <td></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="form-control-label" for="FechaRendicion">
                        Fecha de Rendición
                      </label>

                      <input
                        class="form-control"
                        id="FechaRendicion"
                        placeholder="Fecha de Rendición"
                        type="date"
                        [min]="PrimerDia"
                        [max]="UltimoDia"
                        formControlName="FechaRendicion"
                      />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group">
                      <label class="form-control-label" for="Observaciones">
                        Observaciones
                      </label>

                      <input
                        class="form-control"
                        id="Observaciones"
                        placeholder="Observaciones"
                        type="text"
                        formControlName="Observaciones"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>

                <div class="card-footer" *ngIf="Id_SR">
                  <div class="d-flex justify-content-between">
                    <div class="">
                      <button
                        class="btn btn-icon btn-3 btn-primary"
                        type="button"
                        (click)="ActualizarLibroDiarioSimplificado()"
                      >
                        <span class="btn-inner--icon"
                          ><i class="ni ni-books"></i
                        ></span>
                        <span class="btn-inner--text">Rendir</span>
                      </button>
                      <button
                        class="btn btn-icon btn-3 btn-success"
                        type="button"
                        (click)="CrearPDF()"
                      >
                        <span class="btn-inner--icon"
                          ><i class="fas fa-print"></i
                        ></span>
                        <span class="btn-inner--text">Imprimir</span>
                      </button>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h5
                        *ngIf="
                          formaOperacionSaldo.controls['Id_Operacion'].value > 0
                        "
                      >
                        {{ MensajeSaldo + ':' }}&nbsp;
                      </h5>
                      <h5
                        class="text-danger"
                        *ngIf="
                          formaOperacionSaldo.controls['Id_Operacion'].value > 0
                        "
                      >
                        {{ 'N°' + NumeroDocumentoSaldo }}
                      </h5>
                      <h5
                        *ngIf="
                          formaOperacionSaldo.controls['Id_Operacion'].value > 0
                        "
                      >
                        &nbsp;&nbsp;-&nbsp;&nbsp;Monto:&nbsp;
                      </h5>
                      <h5
                        class="text-success"
                        *ngIf="
                          formaOperacionSaldo.controls['Id_Operacion'].value > 0
                        "
                      >
                        {{ 'S/ ' + TipoSaldo }} &nbsp;&nbsp;-&nbsp;&nbsp;
                      </h5>

                      <h5 class="text-primary">
                        &nbsp;Saldo por Rendir:&nbsp;
                      </h5>
                      <h5>S/&nbsp;</h5>
                      <h5>
                        {{
                          formaSR.controls['Presupuesto'].value -
                            (SumaTotalGasto() +
                              formaSR.controls['MontoRI'].value -
                              formaSR.controls['MontoCC'].value)
                            | number: '1.2-2'
                        }}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <pre>{{ formaOperacionSaldo.value | json }}</pre>
  <br />
  <pre>{{ formaOperacionPrincipal.value | json }}</pre>
  <br />
  <pre>{{ formaOperacion.value | json }}</pre>
  <br />
  <pre>{{ formaDetalleSR.value | json }}</pre>
  <br />
  <pre>{{ formaOperacionSaldo.value | json }}</pre> -->
</div>

<ng-template #modalFormSaldo>
  <div class="modal-body p-0">
    <div class="card bg-secondary border-0 mb-0">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <h3 *ngIf="SumaTotalPresupuesto() - SumaTotalGasto() < 0">
            Comprobante de Caja
          </h3>
          <h3 *ngIf="SumaTotalPresupuesto() - SumaTotalGasto() > 0">
            Recibo de Ingreso
          </h3>
        </div>

        <form
          class="example-form"
          [formGroup]="formaSR"
          novalidate="novalidate"
          (keydown.enter)="$event.preventDefault()"
        >
          <!-- Recibo de Ingreso -->
          <div class="col-md-12" *ngIf="TotalSaldo > 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols2Input">
                N° de Documento
              </label>

              <input
                class="form-control"
                id="example3cols2Input"
                placeholder="Descripción"
                type="text"
                formControlName="NRI"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="col-md-12" *ngIf="TotalSaldo > 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols2Input">
                Monto
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">S/ </span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Presupuesto"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="MontoRI"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>

          <!-- Comprobante de Caja -->
          <div class="col-md-12" *ngIf="TotalSaldo < 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols2Input">
                N° de Documento
              </label>

              <input
                class="form-control"
                id="example3cols2Input"
                placeholder="Descripción"
                type="text"
                formControlName="NRI"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="col-md-12" *ngIf="TotalSaldo < 0">
            <div class="form-group">
              <label class="form-control-label" for="example3cols2Input">
                Monto
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">S/ </span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Presupuesto"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="MontoRI"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </form>
        <form
          class="example-form"
          [formGroup]="formaOperacionSaldo"
          novalidate="novalidate"
          (keydown.enter)="$event.preventDefault()"
        >
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="example3cols3Input">
                Cuenta Contable de Retorno
              </label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cuenta Contable de Retorno"
                  aria-label="Cuenta"
                  aria-describedby="button-addon2"
                  formControlName="Codigo_PlanCuenta"
                  autocomplete="off"
                  [readonly]="true"
                />
                <button
                  class="btn btn-default"
                  type="button"
                  id="button-addon2"
                  (click)="AbrirModalPlanContable(modalBuscarPlanContable)"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-search"></i
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary my-4"
            (click)="RegistrarSaldo()"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-secondary my-4"
            (click)="formModalSaldo.hide()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal Buscar Plan Contable -->
<ng-template #modalBuscarPlanContable>
  <div class="modal-body p-0">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Buscar Plan de Contable</h3>
          </div>
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Buscar..."
                      aria-controls="datatable"
                      (keyup)="filterBuscarPlanContable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              style="cursor: pointer"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="tablaPlanContable"
              [messages]="{
                emptyMessage: 'No se encontraron registros'
              }"
              [selected]="selected"
              [selectionType]="SelectionType.single"
              (select)="onSelectBuscarPlanContable($event)"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Código Plan de Cuenta</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Codigo_PlanCuenta }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Descripción</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Nombre_PlanCuenta }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="formModalPlanContable.hide()"
    >
      Cancelar
    </button>
  </div>
</ng-template>
