.Presupuesto {
  background-color: rgb(184, 209, 138) !important;
  text-align: center !important;
  // margin: 0% !important;
  height: auto !important;
  line-height: 100px !important;
}

.MontoRICC {
  background-color: rgb(254, 255, 193) !important;
  text-align: center !important;
  // margin: 0% !important;
  height: auto !important;
  line-height: 100px !important;
}

.GastoTotal {
  background-color: rgb(250, 203, 166) !important;
  text-align: center !important;
  // margin: 0% !important;
  height: auto !important;
  line-height: 100px !important;
}

.Centrar {
  text-align: center !important;
}
